*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
}

main {
    max-width: 1200px;
    margin: 7rem;
}

.td-center {
    text-align: center;
}

/*Utilitarias*/
.p-identificador {
    font-size: 1.5rem;
}

.p-resposta {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}

.up-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

p {
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
}

.need-border {
    border: 1px solid #000000;
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.gap-divs {
    display: flex;
    gap: 0;
}

.flexDiv {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-p {
    margin: 0;
}

.bot-p {
    margin: 0;
}

/**/

.img-brasao {
    max-width: 15rem;
    height: auto;
    margin-right: 1rem;
    max-width: 20rem;
}

.layout-header {
    display: flex;
    justify-content: space-between;
}


.header-text {
    display: flex;
    flex-direction: column;
}



#divNota {
    display: flex;
}

#tabelaHeader table {
    width: 30rem;
}

.tabela {
    float: right;
    margin-left: auto;
}


td, th {
    border: 1px solid #000000;
    padding: 1.6rem;
}

th {
    padding: 0.1rem;
    font-size: 1.6rem;
}

h1, h2 {
    font-size: 2.5rem;
}

h2 {
    font-weight: 400;
}

.comp {
    display: flex;
    justify-content: space-between;
}

.comp p {
    flex: 1;
}

.all-main-table table {
    width: 100%;
}
.all-main-table td {
    font-size: 1.3rem;
    border-top: none;
    border-bottom: none;
    padding: 0.1rem;
    vertical-align: top;
}

.discriminacao td {
    height: 20rem;
}

#valores p {
    font-weight: 700;
}

#qrCode img {
    width: 100%;
}

.qrAjuste {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 10%;
}

#outrasInformacoes p {
text-align: left;
}

@media (max-width: 800px) {
    body {
        font-size: 1.4rem;
      }
      .img-brasao {
        display: none;
      }
      .Header-text {
        text-align: center;
      }

    }